.selectize-input {
  cursor: default;
}

.card h2 {
  font-weight: lighter;
}

.brand-logo {
  width: 210px;
}

.category {
  font-weight: 600;
}
.loading {
  padding: 6em;
}
.light {
  font-weight: 200;
}

#sim-ui .input-field label {
  color: #FFF;
}
#sim-ui .input-field input {
  color: #FFF;
  font-size: 2em;
  text-align: center;
}
