<!DOCTYPE html>
<html ng-app="AutoTest">
  <head>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="/stylesheets/materialize.min.css" />
    <link href="/stylesheets/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css" />

    <link href="/stylesheets/app.css" media="all" rel="stylesheet" type="text/css" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body ng-controller="SimulationController">
    <header class="indigo white-text">
      <nav>
        <div class="nav-wrapper red lighten-1">
          <div class="container">
            <a href="/" class="brand-logo">
              <svg viewBox="0 0 1024 121" enable-background="new 0 0 1024 121">
                <path fill="#363C80" d="M1024,88.814c0,16.441-4.788,21.286-17.913,25.236c-14.218,4.298-39.467,6.95-54.497,6.95 c-17.784,0-39.943-1.15-58.851-5.477V96.524h104.327V70.701h-73.841c-22.196,0-30.468-6.092-30.468-27.715V31.695 c0-17.045,5.052-22.194,18.934-25.764C925.651,2.328,948.524,0,963.464,0c18.127,0,39.918,1.408,58.883,5.596V24.61H919.698v21.839 h73.84c22.203,0,30.462,5.973,30.462,27.592V88.814z"></path>
                <path fill="#363C80" d="M846.059,115.551c-21.623,4.286-43.388,5.448-64.476,5.448c-21.075,0-43.253-1.163-64.877-5.448V5.595 C738.33,1.316,760.236,0,781.324,0c21.082,0,42.595,1.316,64.225,5.596v19.621h-97.703v21.968h63.625v22.81h-63.625v25.949h98.213 V115.551z"></path>
                <path fill="#363C80" d="M679.416,115.551C660.01,119.85,640.44,121,621.637,121c-18.805,0-38.765-1.15-58.161-5.448V2.739h31.139 v91.749h84.802V115.551z"></path>
                <path fill="#363C80" d="M526.129,116.246c-10.373,2.972-24.081,4.028-34.286,4.201l-47.955-96.619h-2.678l-47.934,96.619 c-10.233-0.173-22.263-1.229-32.629-4.201L421.369,2.787h43.285L526.129,116.246z"></path>
                <path fill="#342356" d="M462.868,87.416c0,11.094-9.166,20.102-20.294,20.102c-11.145,0-20.149-9.021-20.149-20.102 c0-11.094,9.03-20.108,20.149-20.108C453.684,67.308,462.868,76.291,462.868,87.416"></path>
                <path fill="#363C80" d="M323.111,116.372c-9.946,2.85-20.57,3.893-31.151,4.078V71.157h-77.359v49.293 c-10.583-0.185-21.201-1.229-31.136-4.078V4.898c9.935-2.85,20.552-3.893,31.136-4.078v47.564h77.359V0.82 c10.581,0.185,21.198,1.228,31.151,4.078V116.372z"></path>
                <path fill="#363C80" d="M140.087,25.502H85.454v92.965H54.627V25.502H0V5.658C23.52,1.392,47.149,0.06,70.121,0.06 c22.934,0,46.491,1.332,69.966,5.599V25.502z"></path>
                <path fill="#363C80" d="M1024,88.814c0,16.441-4.788,21.286-17.913,25.236c-14.218,4.298-39.467,6.95-54.497,6.95 c-17.784,0-39.943-1.15-58.851-5.477V96.524h104.327V70.701h-73.841c-22.196,0-30.468-6.092-30.468-27.715V31.695 c0-17.045,5.052-22.194,18.934-25.764C925.651,2.328,948.524,0,963.464,0c18.127,0,39.918,1.408,58.883,5.596V24.61H919.698v21.839 h73.84c22.203,0,30.462,5.973,30.462,27.592V88.814z"></path>
                <path fill="#363C80" d="M846.059,115.551c-21.623,4.286-43.388,5.448-64.476,5.448c-21.075,0-43.253-1.163-64.877-5.448V5.595 C738.33,1.316,760.236,0,781.324,0c21.082,0,42.595,1.316,64.225,5.596v19.621h-97.703v21.968h63.625v22.81h-63.625v25.949h98.213 V115.551z"></path>
                <path fill="#363C80" d="M679.416,115.551C660.01,119.85,640.44,121,621.637,121c-18.805,0-38.765-1.15-58.161-5.448V2.739h31.139 v91.749h84.802V115.551z"></path>
                <path fill="#363C80" d="M526.129,116.246c-10.373,2.972-24.081,4.028-34.286,4.201l-47.955-96.619h-2.678l-47.934,96.619 c-10.233-0.173-22.263-1.229-32.629-4.201L421.369,2.787h43.285L526.129,116.246z"></path>
                <path fill="#00B2D7" d="M462.868,87.416c0,11.094-9.166,20.102-20.294,20.102c-11.145,0-20.149-9.021-20.149-20.102 c0-11.094,9.03-20.108,20.149-20.108C453.684,67.308,462.868,76.291,462.868,87.416"></path>
                <path fill="#363C80" d="M323.111,116.372c-9.946,2.85-20.57,3.893-31.151,4.078V71.157h-77.359v49.293 c-10.583-0.185-21.201-1.229-31.136-4.078V4.898c9.935-2.85,20.552-3.893,31.136-4.078v47.564h77.359V0.82 c10.581,0.185,21.198,1.228,31.151,4.078V116.372z"></path>
                <path fill="#363C80" d="M140.087,25.502H85.454v92.965H54.627V25.502H0V5.658C23.52,1.392,47.149,0.06,70.121,0.06 c22.934,0,46.491,1.332,69.966,5.599V25.502z"></path>
              </svg>
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="sass.html">Simulación automática</a></li>
              <li><a href="badges.html">Simulación manual</a></li>
              <li><a href="collapsible.html">Documentación</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="row">
        <div class="container">
          <h1>Thales Simulation System</h1>
        </div>
      </div>
    </header>
    <div class="container">
      <!-- Page Content goes here -->
      <div class="row center" ng-show="loading">
        <div class="col s12">
        <div class="loading">
          <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>

          <p class="flow-text">Simulación en proceso</p>
          </div>
        </div>
      </div>

      <div class="row center" ng-hide="loading">
        <div class="col s4" ng-repeat="category in categories">
          <div class="card-panel {{ colors[$index] }}">
            <h2 class="white-text category">
              <i class="mdi mdi-48px mdi-light mdi-{{icon(category)}}"></i> {{ category }}
            </h2>
            <p>
              <a class="waves-effect waves-light btn-large darken-4 {{ colors[$index] }}"
                ng-click="simulate('PRE', category)">
                <i class="material-icons left">label</i> PRE-CLA
              </a>
            </p>
            <p>
              <a class="waves-effect waves-light btn-large darken-4 {{ colors[$index] }}"
                ng-click="simulate('POS', category)">
                <i class="material-icons left">thumb_up</i> POS-CLA
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<footer class="page-footer red lighten-1">
  <div class="container">
    <div class="row">
      <div class="col l6 s12 grey-text text-lighten-4">
        <h5 class="white-text">Proyecto Transporte</h5>
        <p class="grey-text text-lighten-4">
          TECNOLÓGICO DE MONTERREY
          <ul>
            <li>Fernando Gómez H.</li>
            <li>Rodolfo A. Ramírez V.</li>
            <li>Luis E. Ballinas A.</li>
            <li>Steeven E. Muñoz</li>
          </ul>
        </p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2016
    </div>
  </div>
</footer>

  <script src="/javascripts/angular.min.js"></script>
  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="/javascripts/jquery-2.1.1.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="/javascripts/materialize.min.js"></script>
  <script src="/javascripts/jquery-ui.min.js"></script>
  <script src="/javascripts/auto.js"></script>
</body>
</html>
